body {
  margin: 0;
  background: #333;
  cursor: crosshair;
}

#terrain {
  aspect-ratio: 1/.0866;
  background: #486;
}

#popup,
#ludion {
  position: absolute;
  z-index: 1000000;
}

.case-terrain {
  position: absolute;
  /*background-image: radial-gradient(rgb(133, 83, 57) 42%, transparent 80%);*/
}