body {
  margin: 0;
  background: #333;
  cursor: crosshair;
}

#terrain {
  /* 1 / cos 30° */
  aspect-ratio: 1.1547;
  background: #486;
}

#popup,
#ludion {
  position: absolute;
  z-index: 1000000;
}

.case-terrain {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}