html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: #486;
}

#terrain {
  width: 100%;
  aspect-ratio: 1.1547;
}

#terrain div div {
  position: absolute;
  aspect-ratio: 1.1547;
  wborder: 0.1px dotted black;
}

/*
 body p{
  margin:0;
position:relative;
left:0;
  height:10px;
}
 body p:nth-child(even){
left:10px;
}
 body p span{
  display:inline-block;
position:relative;
top:0;
  wmargin:0;
wleft:0;
  height:20px;
  width:28px;
}

wbody div div{
  display:inline-block;
position:relative;
left:0;
}
wbody div div{
color:red;
}

wdiv{
position:absolute;
  height:28px;
  width:28px;
  text-align:center;
 }
*/

/* //////////////////////  FIN  //////////////////////
div span{z-index:400;
}
 p{margin:0;
}
span{
  display:inline-block;
  height:210px;
  width:300px;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: left 1s linear, top 1s linear;
  min-width: 24px;
  min-height: 24px;
  text-align: center;
  cursor: grab;
}

ul {
  margin: 5px 0;
  padding-left: 10px;
}

li {
  display: inline-block;
  float: left;
  clear: both;
  margin: 5px 0;
  list-style-type: none;
  cursor: grab;
}

p>a {
  display: inline-block;
  margin: 0 3px;
}

p>a:first-child {
  /* Picto mode d'emploi */
padding: 0 4px;
border: 1.5px white solid;
border-radius: 4px;
color: white;
background: #456;
font-size: 10px;
}

label {
  margin-left: 5px;
}

#stats,
input[type=file] {
  display: none;
}

#help {
  margin-top: calc(50vh - 60px);
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  background: white;
}

@media screen and (min-width: 340px) {
  #help {
    margin-left: calc(50% - 170px);
    width: min(100%, 340px);
  }
}

p:has(#stats) {
  margin: 0;
  padding: 8px 0 0 8px;
  cursor: pointer;
}

#stats {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.Graine {
  color: #ffb900;
}

.Herbe {
  color: green;
}

.Terre {
  color: #5b3c11;
}

*/
/* Symboles doubles
.Amoureux {
  min-width: 42px;
  letter-spacing: -8px;
}
*/