body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: all 1.2s linear;
  cursor: grab;
}

#help {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

#stats {
  margin: 0 30px;
}