body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: all 1s ease;
  cursor: grab;
}

#stats {
  margin: 0 30px;
}