body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: all 1.2s linear;
  min-width: 1.5em;
  text-align: center;
  letter-spacing: -0.5em;
  cursor: grab;
}

#help {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

#stats {
  margin: 0 30px;
}