body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: all 1s ease;
  cursor: grab;
}

#catalog {
  width: 94px;
  height: 23px;
  margin: 0;
  border: 1px solid white;
}