body {
  color: white;
  background: #222;
}

/* Tuning */
form input[type="range"] {
  width: calc(100% - 4px);
}

form p {
  text-align: center;
}

/* Help */
body>p {
  margin: 0.3em;
  text-indent: 1em;
}

/* Boxes */
div {
  margin: 5vh 0;
  text-align: center;
}

div>p {
  margin: 0;
}

div span {
  display: inline-block;
  line-height: 32px;
  width: 32px;
}

div p:not(:first-child):not(:last-child) span,
div span:not(:first-child):not(:last-child) {
  background-image: url("boxes.svg");
  cursor: pointer;
}

div span::selection {
  background: transparent;
}