body {
  background: grey;
}

*::selection {
  background: transparent;
}

table {
  border-collapse: collapse;
}

td {
  height: 32px;
  width: 34px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  text-indent: -6px;
  letter-spacing: -6px;
  background: #6a8;
  wborder: 1px solid white;
}

/*TODO
td:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}*/