body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: all 1s linear;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  cursor: grab;
}

#help {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

#stats {
  margin: 3px 30px;
}

#paradis {
  display: none;
}