body {
  margin: 0;
  overflow: hidden;
  background: #486;
}

*::selection {
  background: transparent;
}

div {
  position: absolute;
  transition: left 1s linear, top 1s linear;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  letter-spacing: -8px;
  cursor: grab;
}

ul {
  margin: 5px 0;
  padding-left: 10px;
}

li {
  display: inline-block;
  float: left;
  clear: both;
  margin: 5px 0;
  list-style-type: none;
  cursor: grab;
}

p>a {
  display: inline-block;
  margin: 0 3px;
}

p>a:first-child {
  /* Picto mode d'emploi */
  padding: 0 4px;
  border: 1.5px white solid;
  border-radius: 4px;
  color: white;
  background: #456;
  font-size: 10px;
}

#help {
  margin-top: calc(50vh - 60px);
  text-align: center;
}

p:has(#stats) {
  margin: 5px 0 0 10px;
  cursor: pointer;
}

#stats {
  margin: 3px;
  z-index: 10;
}

.Graine {
  color: #ffb900;
}

.Herbe {
  color: green;
}

.Terre {
  color: #5b3c11;
}